@media (min-width: 320px) and (max-width:321px )
{
	header
	{
		width: 100%;
	}
	.block3
	{
		width: 100%;
	}
	.block2
	{
		margin-top: 40px;
	}
	.logo
	{
		float: none;
		margin: 0 auto;
	}
	.float-left
	{
		float: none;
		width: 100%;
	}
	.short
	{
		width: 100%;
	}
	.black_p_white
	{
		width: 100%;
	}
	.black_p_white
	{
		width: 100%;
	}
	.features-all
	{
		float: none;
		width: 100%;
	}
	.fetures-left
	{
		width: 100%;
		margin-left: 0;
		float: none;
	}
	.block4
	{
		width: 100%;
	}
	.features_h
	{
		width: 100%;
	}
	.col-list
	{
		width: 64%;
	}
	.black_p
	{
		width: 100%;
	}
	.col-text
	{
		width: 100%;
	}
	.norm-t
	{
		width: 100%;
		text-align: center;
	}
	.bold-t
	{
		text-align: center;
		width: 100%;
	}
	.features-right img
	{
		width: 100%;
	}
	.form-block
	{
		height: 205px;
		margin-top: -32px;
	}
	#best
	{
		margin-top: 10px;
	}
	.button img
	{
		margin-top: 40px;
		margin-left: 10px;
	}
	#proffesional
	{
		width: 100%;
		font-size: 48px;
	}
	#bold
	{
		width: 100%;

	}
	.header-text p
	{
		margin-top: 15px;
		margin-left: 
	}
	.header-text p
	{
		font-size: 33px;
		width: 100%;
	}
	.first
	{
		width: 100%;
		margin-left: 0;
	}
	.feedback
	{
		width: 100%;
	}
	#long{
		width: 100%;
	}
	.block
	{
		width: 100%;
	}
	.team
	{
		width: 100%;
	}
	.member
	{
		width: 100%;
		margin-left: 0;
	}
	.red-block
	{
		width: 100%;
		margin-left: 0;
	}
	#block7-top
	{
		padding-top: 14px;
	}
	#faq
	{
		padding-bottom: 0;
	}
	.block7
	{
		padding-bottom: 35px;
		width: 100%;
	}
	.block8
	{
		padding-left: 0;
	}
	.video-left
	{
		width: 100%;
	}
	 iframe
	{
		width: 100%;
		height: auto;
	}
	.video-right
	{
		width: 100%;
		text-align: center;
	}
	.portfolio
	{
		float: none;
		width: 100%;
	}
	.block10
	{
		padding-top: 705px;
	}
	#white_txt
	{
		padding-top: 25px;
	}
	.logotips
	{
		float: none;
	}
	.photo-right img
	{
		width: 100%;
	}
	.photo-left img
	{
		width: 100%
	}
}
@media (min-width: 360px) and (max-width: 410px)
{
	header
	{
		width: 100%;
	}
	.block3
	{
		width: 100%;
	}
	.block2
	{
		margin-top: 40px;
	}
	.logo
	{
		float: none;
		margin: 0 auto;
	}
	.float-left
	{
		float: none;
		width: 100%;
	}
	.short
	{
		width: 100%;
	}
	.black_p_white
	{
		width: 100%;
	}
	.black_p_white
	{
		width: 100%;
	}
	.features-all
	{
		float: none;
		width: 100%;
	}
	.fetures-left
	{
		width: 100%;
		margin-left: 0;
		float: none;
	}
	.block4
	{
		width: 100%;
	}
	.features_h
	{
		width: 100%;
	}
	.col-list
	{
		width: 64%;
	}
	.black_p
	{
		width: 100%;
	}
	.col-text
	{
		width: 100%;
	}
	.norm-t
	{
		width: 100%;
		text-align: center;
	}
	.bold-t
	{
		text-align: center;
		width: 100%;
	}
	.features-right img
	{
		width: 100%;
	}
	.form-block
	{
		height: 205px;
		margin-top: -32px;
	}
	#best
	{
		margin-top: 10px;
	}
	.button img
	{
		margin-top: 40px;
		margin-left: 10px;
	}
	#proffesional
	{
		width: 100%;
		font-size: 48px;
	}
	#bold
	{
		width: 100%;

	}
	.header-text p
	{
		margin-top: 15px;
		margin-left: 
	}
	.header-text p
	{
		font-size: 33px;
		width: 100%;
	}
	.first
	{
		width: 100%;
		margin-left: 0;
	}
	.feedback
	{
		width: 100%;
	}
	#long{
		width: 100%;
	}
	.block
	{
		width: 100%;
	}
	.team
	{
		width: 100%;
	}
	.member
	{
		width: 100%;
		margin-left: 0;
	}
	.red-block
	{
		width: 100%;
		margin-left: 0;
	}
	#block7-top
	{
		padding-top: 14px;
	}
	#faq
	{
		padding-bottom: 0;
	}
	.block7
	{
		padding-bottom: 35px;
		width: 100%;
	}
	.block8
	{
		padding-left: 0;
	}
	.video-left
	{
		width: 100%;
	}
	 iframe
	{
		width: 100%;
		height: auto;
	}
	.video-right
	{
		width: 100%;
		text-align: center;
	}
	.portfolio
	{
		float: none;
		width: 100%;
	}
	.block10
	{
		padding-top: 815px;
	}
	#white_txt
	{
		padding-top: 25px;
	}
	.logotips
	{
		float: none;
	}
	.photo-right img
	{
		width: 100%;
	}
	.photo-left img
	{
		width: 100%
	}
}
@media (min-width: 412px) and (max-width: 414px)
{
		header
	{
		width: 100%;
	}
	.block3
	{
		width: 100%;
	}
	.block2
	{
		margin-top: 40px;
	}
	.logo
	{
		float: none;
		margin: 0 auto;
	}
	.float-left
	{
		float: none;
		width: 100%;
	}
	.short
	{
		width: 100%;
	}
	.black_p_white
	{
		width: 100%;
	}
	.black_p_white
	{
		width: 100%;
	}
	.features-all
	{
		float: none;
		width: 100%;
	}
	.fetures-left
	{
		width: 100%;
		margin-left: 0;
		float: none;
	}
	.block4
	{
		width: 100%;
	}
	.features_h
	{
		width: 100%;
	}
	.col-list
	{
		width: 64%;
	}
	.black_p
	{
		width: 100%;
	}
	.col-text
	{
		width: 100%;
	}
	.norm-t
	{
		width: 100%;
		text-align: center;
	}
	.bold-t
	{
		text-align: center;
		width: 100%;
	}
	.features-right img
	{
		width: 100%;
	}
	.form-block
	{
		height: 205px;

		margin-top: 90px;
	}
	#best
	{
		margin-top: 10px;
	}
	.button img
	{
		margin-top: 40px;
		margin-left: 10px;
	}
	#proffesional
	{
		width: 100%;
		font-size: 48px;
	}
	#bold
	{
		width: 100%;

	}
	.header-text p
	{
		margin-top: 15px;
		margin-left: 
	}
	.header-text p
	{
		font-size: 33px;
		width: 100%;
	}
	.first
	{
		width: 100%;
		margin-left: 0;
	}
	.feedback
	{
		width: 100%;
	}
	#long{
		width: 100%;
	}
	.block
	{
		width: 100%;
	}
	.team
	{
		width: 100%;
	}
	.member
	{
		width: 100%;
		margin-left: 0;
	}
	.red-block
	{
		width: 100%;
		margin-left: 0;
	}
	#block7-top
	{
		padding-top: 14px;
	}
	#faq
	{
		padding-bottom: 0;
	}
	.block7
	{
		padding-bottom: 35px;
		width: 100%;
	}
	.block8
	{
		padding-left: 0;
	}
	.video-left
	{
		width: 100%;
	}
	 iframe
	{
		width: 100%;
		height: auto;
	}
	.video-right
	{
		width: 100%;
		text-align: center;
	}
	.portfolio
	{
		float: none;
		width: 100%;
	}
	.block10
	{
		padding-top: 980px;
	}
	#white_txt
	{
		padding-top: 25px;
	}
	.logotips
	{
		float: none;
		width: 100%;
		text-align:center;
	}
	.photo-right img
	{
		width: 100%;
	}
	.photo-left img
	{
		width: 100%
	}
}
@media (min-width: 375px) and (max-width: 376px)
{
		header
	{
		width: 100%;
	}
	.block3
	{
		width: 100%;
	}
	.block2
	{
		margin-top: 40px;
	}
	.logo
	{
		float: none;
		margin: 0 auto;
	}
	.float-left
	{
		float: none;
		width: 100%;
	}
	.short
	{
		width: 100%;
	}
	.black_p_white
	{
		width: 100%;
	}
	.black_p_white
	{
		width: 100%;
	}
	.features-all
	{
		float: none;
		width: 100%;
	}
	.fetures-left
	{
		width: 100%;
		margin-left: 0;
		float: none;
	}
	.block4
	{
		width: 100%;
	}
	.features_h
	{
		width: 100%;
	}
	.col-list
	{
		width: 64%;
	}
	.black_p
	{
		width: 100%;
	}
	.col-text
	{
		width: 100%;
	}
	.norm-t
	{
		width: 100%;
		text-align: center;
	}
	.bold-t
	{
		text-align: center;
		width: 100%;
	}
	.features-right img
	{
		width: 100%;
	}
	.form-block
	{
		height: 205px;

		margin-top: 50px;
	}
	#best
	{
		margin-top: 10px;
	}
	.button img
	{
		margin-top: 40px;
		margin-left: 10px;
	}
	#proffesional
	{
		width: 100%;
		font-size: 48px;
	}
	#bold
	{
		width: 100%;

	}
	.header-text p
	{
		margin-top: 15px;
		margin-left: 
	}
	.header-text p
	{
		font-size: 33px;
		width: 100%;
	}
	.first
	{
		width: 100%;
		margin-left: 0;
	}
	.feedback
	{
		width: 100%;
	}
	#long{
		width: 100%;
	}
	.block
	{
		width: 100%;
	}
	.team
	{
		width: 100%;
	}
	.member
	{
		width: 100%;
		margin-left: 0;
	}
	.red-block
	{
		width: 100%;
		margin-left: 0;
	}
	#block7-top
	{
		padding-top: 14px;
	}
	#faq
	{
		padding-bottom: 0;
	}
	.block7
	{
		padding-bottom: 35px;
		width: 100%;
	}
	.block8
	{
		padding-left: 0;
	}
	.video-left
	{
		width: 100%;
	}
	 iframe
	{
		width: 100%;
		height: auto;
	}
	.video-right
	{
		width: 100%;
		text-align: center;
	}
	.portfolio
	{
		float: none;
		width: 100%;
	}
	.block10
	{
		padding-top: 980px;
	}
	#white_txt
	{
		padding-top: 25px;
	}
	.logotips
	{
		float: none;
		width: 100%;
		text-align:center;
	}
	.photo-right img
	{
		width: 100%;
	}
	.photo-left img
	{
		width: 100%
	}
}
@media (min-width: 414px) and (max-width: 416px)
{
		header
	{
		width: 100%;
	}
	.block3
	{
		width: 100%;
	}
	.block2
	{
		margin-top: 80px;
	}
	.logo
	{
		float: none;
		margin: 0 auto;
	}
	.float-left
	{
		float: none;
		width: 100%;
	}
	.short
	{
		width: 100%;
	}
	.black_p_white
	{
		width: 100%;
	}
	.black_p_white
	{
		width: 100%;
	}
	.features-all
	{
		float: none;
		width: 100%;
	}
	.fetures-left
	{
		width: 100%;
		margin-left: 0;
		float: none;
	}
	.block4
	{
		width: 100%;
	}
	.features_h
	{
		width: 100%;
	}
	.col-list
	{
		width: 64%;
	}
	.black_p
	{
		width: 100%;
	}
	.col-text
	{
		width: 100%;
	}
	.norm-t
	{
		width: 100%;
		text-align: center;
	}
	.bold-t
	{
		text-align: center;
		width: 100%;
	}
	.features-right img
	{
		width: 100%;
	}
	.form-block
	{
		height: 205px;

		margin-top: 90px;
	}
	#best
	{
		margin-top: 10px;
	}
	.button img
	{
		margin-top: 40px;
		margin-left: 10px;
	}
	#proffesional
	{
		width: 100%;
		font-size: 48px;
	}
	#bold
	{
		width: 100%;

	}
	.header-text p
	{
		margin-top: 15px;
		margin-left: 
	}
	.header-text p
	{
		font-size: 33px;
		width: 100%;
	}
	.first
	{
		width: 100%;
		margin-left: 0;
	}
	.feedback
	{
		width: 100%;
	}
	#long{
		width: 100%;
	}
	.block
	{
		width: 100%;
	}
	.team
	{
		width: 100%;
	}
	.member
	{
		width: 100%;
		margin-left: 0;
	}
	.red-block
	{
		width: 100%;
		margin-left: 0;
	}
	#block7-top
	{
		padding-top: 14px;
	}
	#faq
	{
		padding-bottom: 0;
	}
	.block7
	{
		padding-bottom: 35px;
		width: 100%;
	}
	.block8
	{
		padding-left: 0;
	}
	.video-left
	{
		width: 100%;
	}
	 iframe
	{
		width: 100%;
		height: auto;
	}
	.video-right
	{
		width: 100%;
		text-align: center;
	}
	.portfolio
	{
		float: none;
		width: 100%;
	}
	.block10
	{
		padding-top: 980px;
	}
	#white_txt
	{
		padding-top: 25px;
	}
	.logotips
	{
		float: none;
		width: 100%;
		text-align:center;
	}
	.photo-right img
	{
		width: 100%;
	}
	.photo-left img
	{
		width: 100%
	}
}
@media (min-width: 720px) and (max-width: 721px)
{
		header
	{
		width: 100%;
	}
	.block3
	{
		width: 100%;
	}
	.block2
	{
		margin-top: 385px;
	}
	.logo
	{
		float: none;
		margin: 0 auto;
	}
	.float-left
	{
		float: none;
		width: 100%;
	}
	.short
	{
		width: 100%;
	}
	.black_p_white
	{
		width: 100%;
	}
	.black_p_white
	{
		width: 100%;
	}
	.features-all
	{
		float: none;
		width: 100%;
	}
	.fetures-left
	{
		width: 100%;
		margin-left: 0;
		float: none;
	}
	.block4
	{
		width: 100%;
	}
	.features_h
	{
		width: 100%;
	}
	.col-list
	{
		width: 64%;
	}
	.black_p
	{
		width: 100%;
	}
	.col-text
	{
		width: 100%;
	}
	.norm-t
	{
		width: 100%;
		text-align: center;
	}
	.bold-t
	{
		text-align: center;
		width: 100%;
	}
	.features-right img
	{
		width: 100%;
	}
	.form-block
	{
		height: 205px;

		margin-top: 90px;
	}
	#best
	{
		margin-top: 10px;
	}
	.button img
	{
		margin-top: 40px;
		margin-left: 10px;
	}
	#proffesional
	{
		width: 100%;
		font-size: 48px;
	}
	#bold
	{
		width: 100%;

	}
	.header-text p
	{
		margin-top: 15px;
		margin-left: 
	}
	.header-text p
	{
		font-size: 33px;
		width: 100%;
	}
	.first
	{
		width: 100%;
		margin-left: 0;
	}
	.feedback
	{
		width: 100%;
	}
	#long{
		width: 100%;
	}
	.block
	{
		width: 100%;
	}
	.team
	{
		width: 100%;
	}
	.member
	{
		width: 100%;
		margin-left: 0;
	}
	.red-block
	{
		width: 100%;
		margin-left: 0;
	}
	#block7-top
	{
		padding-top: 14px;
	}
	#faq
	{
		padding-bottom: 0;
	}
	.block7
	{
		padding-bottom: 35px;
		width: 100%;
	}
	.block8
	{
		padding-left: 0;
	}
	.video-left
	{
		width: 100%;
	}
	 iframe
	{
		width: 100%;
		height: 300px;
	}
	.video-right
	{
		width: 100%;
		text-align: center;
	}
	.portfolio
	{
		float: none;
		width: 100%;
	}
	.block10
	{
		padding-top: 1924px;
	}
	#white_txt
	{
		padding-top: 25px;
	}
	.logotips
	{
		float: none;
		width: 100%;
		text-align:center;
	}
	.photo-right img
	{
		width: 100%;
	}
	.photo-left img
	{
		width: 100%
	}
}